<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smalu.policebank">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".WelcomeActivity"
            android:theme="@style/MyWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.Jiancha_yewukuActivity"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.Jiancha_autoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.Jiancha_yingyeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.Pinggu_qingkuang"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.Pinggu_fenshu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".activity.PingguActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".SigninActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".activity.JianchaActivity"></activity>
        <activity android:name=".activity.BeianActivity"/>
        <activity android:name=".activity.Beian_valutActivity"/>
        <activity android:name=".activity.Beian_lobbyActivity"/>
        <activity android:name=".activity.Beian_equipmentActivity"/>

    </application>

</manifest>